
body{
    padding: 300px;
    background-color: #b8e7a7;
}
li {list-style-type: none;
    font-size: 16pt;
    }
    .container{
        display:flex;
        justify-content: center;
        align-items: center;
        border: #FF0000;
    }
    .mail {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    background : #ffffff;
    border: 5px soild rgb(0, 0, 0);
    border-radius: 10px;
    }
    .mail h2 {
    margin-left: 38px;
    
    }
    input {
    font-size: 20pt;
    }
    input:focus, textarea:focus{
    background-color: lightyellow;
    }
    input submit {
    font-size: 12pt;
    margin-bottom: 10px;
    }
    .rq {
    color: #FF0000;
    font-size: 10pt;
    }

    .otp{
        background-color: #fff;
        color: #128523;
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
        cursor: pointer;
    }
    